# Virtual environment
venv/

# Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyo
*.pyc
*.pyd

# Jupyter Notebook checkpoints (if you ever use notebooks)
.ipynb_checkpoints/

# dbt compiled and temporary files
target/
dbt_modules/

# dbt logs
logs/
# Windows
Thumbs.db

# VSCode settings
.vscode/

# dbt profiles

profiles.yml

# powerbi gitignore
**/.pbi/localSettings.json
**/.pbi/cache.abf